python-dotenv

presidio_analyzer[transformers]
presidio_anonymizer

nltk
natasha
pymorphy3 
pymorphy3-dicts-ru
spacy
gliner
flair
faker
rapidfuzz

petrovna
pytrovich

..\wheels\postal-1.1.11-cp313-cp313-win_amd64.whl  